<script src="https://kit.fontawesome.com/6fd84a1e7d.js" crossorigin="anonymous"></script>
<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  　<% end %>
  </ul>
<% end %>


<%= form_with model: @book do |f| %>

<p>Title</p>
<%= f.text_field :title %>

<p>Opinion</p>
<%= f.text_area :body %>

<div><%= f.submit 'Update Book' %></div>

<% end %>

<%= link_to "Show", book_path(@book.id) %>|
<%= link_to "Back", books_path %>

